node_modules/
/dist/
*.tsbuildinfo
.rpt2_cache*/
.rts2_cache*/
.cache/
.npm/
.eslintcache
.stylelintcache
coverage/
.nyc_output/
*.lcov
logs/
*.log
*.tgz
.env
.env.*
!.env.example
!.env.*.example
.idea/
.vscode/
.DS_Store
*.swp
*.swo
examples/*.bundle.js
